*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Times New Roman', Times, serif;
}
.window{
    min-height: 100vh;
    background :linear-gradient(175deg,white,rgb(0, 138, 192));
    padding: 10px;
}
.container{
    max-width: 545px;
    background-color: white;
    margin: 100px  auto;
    padding: 40px 30px 70px;
    border-radius: 5px;
}
.container h1{
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}
.container h1 img{
        width: 100px;
        margin-left:10px;
}
.container:hover{
    box-shadow: 1px 2px 4px 2px black;
}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
    background-color: bisque;
    border-radius: 20px;
    padding-left: 20px;
    margin-bottom: 20px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 10px;
    font-weight: 30px;
}
button{
    border: none;
    outline: none;
    padding:16px;
    border-radius: 20px;
    background-color: green;
    font-size: 20px;
    color: white;
    cursor: pointer;
}
button:hover{
    background-color:lawngreen;
    color: black;
}
ul.li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px ;
    user-select: none;
    cursor: pointer;
    position: relative;
}
ul.li::before{
    content: '';
    position:absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background: url(Images/download__5_-removebg-preview.png);
    background-size: cover;
    background-position: center;
    top:8px;
    left: 16px;

}
